/*Reset browser*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8ede3;
  color: #798777;
  font-family: sans-serif;
}

/*Header*/
header {
  background-color: #bdd2b6;
  padding: 100px 0 100px 0;
  font-size: 35px;
  text-align: center;
  color: #798777;
}

/*Navigation bar*/
nav {
  background-color: #a2b29f;
}
nav > ul > li {
  display: inline-block;
  padding: 15px 50px 15px 15px;
  font-size: 20px;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #f8ede3;
}

nav > ul > li > a:hover {
  font-weight: bolder;
}

/*General data*/
article > h2 {
  padding: 30px 0 20px 0;
  text-align: center;
}
#infoGeral {
  width: 70%;
  padding-left: 30px;
  display: inline-block;
}

/*Table*/
table {
  margin-left: 50px;
  padding: 20px;
  border: 3px solid #798777;
  display: inline-block;
}

/*Curiosity grid*/
.fatos {
  width: 30%;
  display: inline-block;
  padding: 30px;
  margin: 3px;
}

.fatos img {
  margin-top: 15px;
  width: 100%;
}

/*Video button*/
.botao {
  width: 30%;
  padding: 20px 100px 0 0;
  margin: 3px;
  float: right;
}

.btn > a {
  text-decoration: none;
  color: #f8ede3;
}

/*References session*/
.referencia {
  padding-left: 30px;
}
.referencia > h3 {
  padding: 15px 0;
}
.referencia > ul {
  list-style: none;
}
.referencia > ul > li > a {
  line-height: 20px;
  text-decoration: none;
  color: #798777;
}

/*Footer*/
#contato {
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

/*https://css3buttongenerator.com/*/
.btn {
  background: #798777;
  background-image: -webkit-linear-gradient(top, #798777, #a2b29f);
  background-image: -moz-linear-gradient(top, #798777, #a2b29f);
  background-image: -ms-linear-gradient(top, #798777, #a2b29f);
  background-image: -o-linear-gradient(top, #798777, #a2b29f);
  background-image: linear-gradient(to bottom, #798777, #a2b29f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px F8EDE3;
  color: F8EDE3;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a2b29f;
  background-image: -webkit-linear-gradient(top, #a2b29f, #798777);
  background-image: -moz-linear-gradient(top, #a2b29f, #798777);
  background-image: -ms-linear-gradient(top, #a2b29f, #798777);
  background-image: -o-linear-gradient(top, #a2b29f, #798777);
  background-image: linear-gradient(to bottom, #a2b29f, #798777);
  text-decoration: none;
}
/*https://css-tricks.com/examples/hrs/*/
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.2);
  margin: 15px 0 15px 0;
}
